@charset "utf-8";

//basic setting
$mainColor:#0099cc;
$fontColor:#666666;
$hoverColor:#6699ff;
$hoverColor2:#3399ff;
$visitedColor:#2f87e1;

@import "default";
@import "clearfix";
@import "header";
@import "footer";